body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  width: 500px;
}

.header img {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.header h1 {
  font-size: 20px;
  display: inline-block;
}

.content {
  font-size: 8px;
  display: block;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pipe a {
  display: block;
  padding: 0 5px 0 5px;
  margin: 10px 0 13px;
  font-size: 11px;
  outline: none;
}

.stage {
  margin: 10px;
  max-width: 105px;
  display: inline-table;
}

.footer {
  margin-top: 15px;
}

.footer.left{
  width: 49%;
  text-align: left;
  display: inline-block;
}
.footer.right{
  width: 49%;
  text-align: right;
  display: inline-block;
}
