body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  width: 500px;
  overflow: hidden;
}

.header {
  margin-bottom: 10px;
  display: inline-block;
}

.header img {
  display: inline-block;
  margin: 10px 20px 0 6px;
  width: 40px;
}

.header h1 {
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 70px;
}

.content {
  display: block;
  font-size: 8px;
  max-height: 490px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pipe a {
  display: block;
  font-size: 11px;
  margin: 10px 0 13px;
  outline: none;
  padding: 0 5px 0 5px;
}

.stage {
  display: inline-table;
  margin: 10px;
  max-width: 105px;
}

.footer {
  margin-top: 15px;
}

.footer.left{
  display: inline-block;
  text-align: left;
  width: 49%;
}

.footer.right{
  width: 49%;
  text-align: right;
  display: inline-block;
}
